/* Removing base css */

body {
    margin: 0;
    padding: 0;
}

/* Configuring colors for the page */

:root{
    --green-primary: #1CE783;
    --white-primary: #FFFFFF;
    --muted-text-color: rgb(168, 175, 189);
    --muted-text-color__hover: #FFFFFF;
    --footer-bg-color: #E8EAED;
    --footer-heading-color: rgb(39, 44, 52);
    --footer-links-color: rgb(88, 97, 116);
    --main-bg-color: #0B0C0F;
    --chosen-plan-bg-color: #272C34;

    --font-title: 'Anek Latin';
    --font-btn: 'Staatliches';
    --font-roboto: 'Roboto';
    --font-lato: 'Lato';
}

/* Global styles */

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
}

/* Styling for splash container */

.splash-container{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 20%), url('../../static/images/splash.jpg');
    background-size: cover;
    height: 640px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.navbar{
    margin: 25px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand-title{
    color: var(--green-primary);
    font-family: var(--font-title);
    font-size: 30px;
}

.navbar-login-btn{
    padding: 16px;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    border-radius: 15px;
    color: var(--muted-text-color);
}

.navbar-login-btn:hover{
    background-color: #272C34;
    color: var(--muted-text-color__hover);
    transition: ease 0.3s;
}

.splash-brands-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
    width: 670px;
}

.splash-brands-container h5{
    color: var(--green-primary);
    font-family: var(--font-roboto);
    font-size: 12px;
}

.splash-brands{
    align-self: center;
    width: 100%;
    width: 603px;
}

.splash-brands-container h4{
    margin: 10px 0;
    color: var(--white-primary);
    font-family: var(--font-lato);
    font-size: 24px;
}

.splash-brands-btn{
    margin: 10px 0;
    color: #0B0C0FFF;
    background-color: var(--green-primary);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: var(--font-btn);
}

.splash-brands-btn:hover{
    color: #0B0C0F80;
    transition: ease 0.3s;
    background-color: #1CE78970;
}

.small-muted-text{
    margin: 0;
    color: #FFFFFF90;
}

.small-muted-text a{
    color: #FFFFFF90;
    text-decoration: underline;
    font-family: var(--font-lato);
}

.splash-brands-signup-link{
    margin: 10px 0;
    color: var(--white-primary);
    font-family: var(--font-lato);
    text-decoration: underline;
    font-size: 17px;
}

.splash-brands-signup-link:hover{
    text-decoration-color: #FFFFFF90;
}

/* Cards Container */

.cards-section-container{
    display : flex;
    flex-direction: column;
    text-align: center;
    margin: 70px 0;
    font-family: var(--font-lato);
}

.details-subsection {
    align-self: center;
    width: 680px;
    column-gap: 10px;
    display: flex;
    flex-direction: column;
}

.green-subheading{
    color: var(--green-primary);
    font-family: var(--font-lato);
}

.white-heading{
    color: var(--white-primary);
    font-family: var(--font-lato);
    font-size: 48px;
    margin: 15px 0 20px 0;
}

.white-description{
    color: var(--white-primary);
    font-family: var(--font-lato);
    font-size: 20px;
}

.cards-subsection{
    margin: 50px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
}

.card{
    user-select: none;
    margin: 0;
    padding: 0;
    height: 450px;
    width: 294px;
}

.card1{
    background: linear-gradient(135deg, #00000077, #00000000), url('../../static/images/card1.jpg');
}
.card2{
    background: linear-gradient(135deg, #00000077, #00000000), url('../../static/images/card2.jpg');
}
.card3{
    background: linear-gradient(135deg, #00000077, #00000000), url('../../static/images/card3.jpg');
}
.card4{
    background: linear-gradient(135deg, #00000077, #00000000), url('../../static/images/card4.jpg');
}

.card{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: var(--white-primary);
    text-align: left;
    padding: 8px 20px;
}

.card:hover{
    cursor: pointer;
}

.card p {
    margin: 10px 0;
}

.card-tag{
    font-size: 16px;
    font-weight: 600;
}

.card-type{
    font-size: 24px;
    font-weight: 800;
}

.cards-section-small-info{
    color: #FFFFFF80;
    font-size: 11px;
    text-align: left;
}

/* Promotion section */

.promotion-section-container{
    margin-top: 150px auto;
    display : flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-lato);
}

.promotion-section-container .details-subsection h6.small-muted-text{
    margin-top: 30px;
}

.promotion-link{
    text-decoration: underline;
    color: #FFFFFFB0;
    font-weight: 600;
    margin: 15px 0 40px 0;
}

/* Keyframes for scroll down button */

@keyframes float{
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 50px;
    }
}

.scroll-down-button{
    margin: 50px 0;
    position: relative;
    animation: float 3s infinite;
    transition: ease;
}


/* Highligts section  */

.highlights-section-container{
    padding: 50px 18%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-lato);
    padding-top: 250px;
    min-height: 900px;
    background: linear-gradient(90deg, #00000070, #FFFFFF00 400%);
}

.highlights-navbar{
    display: flex;
}

.highlights-navbar button{
    margin-right: 30px;
    background: transparent;
    border: none;
    color: #FFFFFF70;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 15px;
    border-bottom: 5px solid transparent;
}

.highlights-navbar button:focus{
    outline: none;
}

button.highlight-navbar-btn-active{
    color: var(--white-primary);
    border-bottom: 5px solid var(--white-primary);
}

.highlight-subsection {
    color: var(--white-primary);
}


/* Keyframe for fading up animation */

@keyframes fadeUp{
    0% {
        padding-top: 10px;
        opacity: 0;
    }
    100% {
        padding-top: 0px;
        opacity: 1;
    }
}

.highlight-subsection > img{
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: -240px;
}

.highlight-subsection-heading{
    animation: fadeUp 0.5s 1;
    font-size: 48px;
    width: 40%;
    animation: fadeUp 0.5s 1;
}

.highlight-subsection-description{
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    line-height: 1.3;
    animation: fadeUp 0.5s 1;
}

.highlight-subsection-logos-container{
    margin: 20px 0;
    display: flex;
    width: 300px;
    justify-content: space-between;
    animation: fadeUp 0.5s 1;
}

.logo-wrapper{
    width: 55px;
    height: 55px;
    background-color: var(--white-primary);
    border-radius: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo-wrapper img{
    width: 80%;
}

.highlight-subsection .small-muted-text {
    font-size: 10px;
    animation: fadeUp 0.5s 1;
}